.fixed-panel {
  min-height: 40rem;
  max-height: 40rem;
  overflow-y: scroll;
}
body {
    background-color: #f6f6f6;
}
.text_holder {
    display: block;
    max-width: 100%;
    word-wrap: break-word;
}
.huge {
  font-size: 35px;
  text-align: right;
}
.green {
    color: green;
}
.red {
    color: green;
}

.graph .axis {
    stroke-width: 1;
}

.graph .axis .tick line {
    stroke-width: 1;
    stroke: black;
}

.graph .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: black;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}

.graph {
    padding: 10px;
}

