<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Active Stream</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- <link type="text/css" href="{{ url_for('static', filename='css/custom.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css"> 
    <script sync src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            // Keyword management code
            $("form#main_input_box").submit(function(event){
                event.preventDefault();
                var deleteButton = "<button class='delete btn btn-warning'>Delete</button>";
                var editButton = "<button class='edit btn btn-success'>Edit</button>";
                var twoButtons = "<div class='btn-group pull-right'>" + deleteButton + editButton + "</div>";
                var checkBox = "<div class='checkbox'><label><input type='checkbox' class='pull-right'></label></div>";
                $(".list_of_items").append("<li class='list-group-item'>" + "<div class='text_holder'>" + $("#custom_textbox").val() + twoButtons + "</div>" + checkBox + "</li>");

                $("#custom_textbox").val('');
            });

            $(".list_of_items").on("click", "button.delete", function(){
                $(this).closest("li").remove();
            });

            $(".list_of_items").on("click", "button.edit", function (){
                var editItemBox = "<form class='edit_input_box'><input type='text' class='itembox'></form>";
                var originalItem = $(this).parent().val();
                var deleteButton = "<button class='delete btn btn-warning'>Delete</button>";
                var editButton = "<button class='edit btn btn-success'>Edit</button>";
                var twoButtons = "<div class='btn-group pull-right'>" + deleteButton + editButton + "</div>";
                $(this).closest("div.text_holder").replaceWith(editItemBox);
                $("form.edit_input_box ").on("submit", function(){
                event.preventDefault(); 
                var checkBox = "<label><input type='checkbox'></label>";
                $(this).replaceWith("<div>" + $(".itembox").val() + twoButtons + "</div>");
                }); 
            });

            $(".list_of_items").on("click", ":checkbox", function (){
                $(this).closest("li").toggleClass("completed_item");
            });



            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            //var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            // Event handler for new tweet to display
            //socket.on('display_tweet', function(msg) {
            //    console.log("Got tweet display request: " + msg['tweet_id'])
            //    // Get the tweet container
            //    var tweet_container = document.getElementById("tweet_container");
            //    // Remove all old content
            //    while (tweet_container.firstChild) {
            //        tweet_container.removeChild(tweet_container.firstChild);
            //    }
            //    // Add new content
            //    tweet = document.createElement('div');
            //    tweet.setAttribute('id', 'tweet');
            //    tweet_container.appendChild(tweet);
            //    var id = msg['tweet_id'];
            //    var guess = msg['guess'];
            //    
            //    if(id == 'waiting') {
            //        tweet.textContent = "Waiting for tweets...";
            //    } else {
            //        twttr.widgets.createTweet(id, tweet, {
            //            conversation : 'none',    // or all
            //            cards        : 'visible',  // or hidden
            //            linkColor    : '#cc0000', // default is blue
            //            theme        : 'light'    // or dark
            //        })
            //        .then (function (el) {
            //            console.log("Tweet Displayed");
            //        });
            //        var t = "My guess: " + guess;
            //        document.getElementById("guess").textContent = t;
            //    }
            //});

            //socket.on('db_report', function(msg) {
            //    console.log('Received db report');
            //    // Get report container
            //    var report_container = document.getElementById("report_container");

            //    // Remove all old content
            //    while (report_container.firstChild) {
            //        report_container.removeChild(report_container.firstChild);
            //    }
            //    // Add new content
            //    report = document.createElement('div');
            //    report.setAttribute('id', 'report');
            //    report_container.appendChild(report);
            //    var table_data = msg['data']

            //    for (var key in table_data) {
            //      if (table_data.hasOwnProperty(key)) {
            //          obj = '<p>' + key + ": " + table_data[key] + '</p>';
            //          report_line = document.createElement('p');
            //          report_line.textContent = key + ': ' + table_data[key];
            //          report_container.appendChild(report_line);
            //      }
            //    }
            //});

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#add_keyword').submit(function(event) {
                socket.emit('add_keyword', {data: $('#new_keyword').val()});
                return false;
            });
            $("button#relevant").on('click', function() {
                console.log('Relevant clicked');
            });
            $("button#irrelevant").on('click', function() {
                console.log('Irrelevant clicked');
            });
            $("button#skip").on('click', function() {
                console.log('Skip clicked');
            });
            $("button#refresh").on('click', function() {
                console.log('Refresh clicked');
            });
      
        });
    </script>
</head>

<body>
    
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Active Stream</h1>
                <p> Hello </p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <div class="row">
            <!-- Annotation container -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Annotation</div>
                    <div class="panel-body fixed-panel">

                        <div id="tweet_container">
                            <p id="placeholder">Waiting for tweets...</p>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-group">
                            <button id="relevant" type="button" class="btn btn-success">relevant</button>
                            <button id="irrelevant" type="button" class="btn btn-danger">irrelevant</button>
                            <button id="skip" type="button" class="btn btn-default">skip</button>
                            <button id="refresh" type="button" class="btn btn-default">refresh</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Annotation container -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Keywords</div>
                    <div class="panel-body fixed-panel">
                        <form role ="form" id="main_input_box">
                            <label>
                                <input type="text" class ="form-control" id="custom_textbox" name="Item" placeholder="What do you need to do?">
                                <input type="submit" value="Add" class="btn btn-primary add_button">
                            </label>
                        </form>
                        <form>
                            <ol class="list-group list_of_items">
                            </ol>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
