<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Active Stream</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <script sync src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>

<body>
    
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Active Stream</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <div class="row">
            <!-- Annotation container -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Annotation</div>
                    <div class="panel-body fixed-panel">

                        <div id="tweet_container">
                            <p id="placeholder">Waiting for tweets...</p>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-group">
                            <button id="relevant" type="button" class="btn btn-success">relevant</button>
                            <button id="irrelevant" type="button" class="btn btn-danger">irrelevant</button>
                            <button id="skip" type="button" class="btn btn-default">skip</button>
                            <button id="refresh" type="button" class="btn btn-default">refresh</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Keyword container -->
            <div class="col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Keywords</div>
                    <div class="panel-body fixed-panel">

                        <form id="main_input_box">
                            <div class="pull-left">
                                <input type="text" class ="form-control" id="custom_textbox" name="Item" placeholder="Enter new keyword here">
                            </div>
                                <input type="submit" value="Add" class="btn btn-success">
                        </form>
                        <form>
                            <ol class="list-group list_of_items">
                            </ol>
                            </form>
                        </div>
                    </div>
                </div>

            <!-- Suggestions container -->
            <div class="col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Keyword Suggestions</div>
                    <div class="panel-body fixed-panel">
                        <ul class="list-group" id="suggestions">
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Stats  container -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Database Stats</div>
                    <div class="panel-body fixed-panel">
                        <!--
                        <ul class="list-group" id="stats">
                        </ul>
                        -->
                        
                        <div class="panel-group">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">TOTAL</div>
                                        <div class="panel-body">
                                            <div id="total" class="huge">0</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">MISSED</div>
                                        <div class="panel-body">
                                            <div id="missed" class="huge">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">ANNOTATED</div>
                                        <div class="panel-body">
                                            <div id="annotated" class="huge">0</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">CLASSIFIED</div>
                                        <div class="panel-body">
                                            <div id="classified" class="huge">0%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">CLF PERFORMANCE</div>
                                        <div class="panel-body">
                                            <div id="performance" class="huge">NA</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">OTHER</div>
                                        <div class="panel-body">
                                            <div class="huge">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>

        </div>

         <div class="row">

            <!-- Additional container -->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">More Stuff</div>
                    <div class="panel-body">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>



        </div>

           
    </div>


</body>
</html>
